<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRUTERÍA "LA TORONJITA"</title>
</head>
<body>
    {%with mensajes=get_flashed_messages()%}
      {% if mensajes%}
        {%for msj in mensajes%}
        <h3> {{msj}} </h3>
        {%endfor%}
      {%endif%}
    {%endwith%}
    <br>
    <br>
    <center><h1> Frutería "La toronjita"</h1></center>
    <br>
    <br>
    <center><h3> Ingreso inventario</h3></center>
    <br>
    <center>
    <form action="/guardar" method="POST">
<input type="text" name="txtFruta" placeholder="Ingresa fruta">
<input type="text" name="txtTemporada" placeholder="Ingresa temporada">
<input type="number" name="txtPrecio" placeholder="Ingresa precio" step="any">
<input type="number" name="txtStock" placeholder="Ingresa cantidad">

<button type="submit"> Guardar </button>
<br>
<br>  
<br>
<br>
<center>

<a href="/inventario">Ver inventario completo</a>
<a href="/buscador">Buscar producto especifico</a>

</center>

</center>
    </form>
    <br>
    <br>




</body>
</html>