<link rel="stylesheet" href="Examen.html">

#title{
    color: f3ff00;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #cuerpo{
         background-image: url("fondo3.jpg");
    }
    
    #tabla{
        background-color: lavender;
        text-align: center;
    border-top: 3px lightslategray;
    border-bottom: 3px lightslategray;
    border-left: 3px lightslategray;
    border-right: 3px lightslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: black
    }
    
    #pie{
        text-align: center;
        color:azure;
    }
    
    #division{
    text-align: center;
    }